.mainHeader {
  min-height: 40px;
  max-height: 40px;
  width: 100%;
  font-size: 14px;

  background-color: #0e67a3;
  text-align: center;
  vertical-align: center;

  .logo {
    color: #7fb3d1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 8px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.board {
  background-color: #1379bf;
  width: 100vw;
  height: 100vh;
  display: flex;

  .lane {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    flex-direction: column;
    white-space: normal;
    width: 272px;
    margin: 10px 4px;
    height: fit-content;

    .laneTitle {
      margin: 10px 0 10px 15px;
      color: #7fb3d1;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
        Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }

    .addBtn {
      margin: 10px 0 10px 15px;
      border: 0;
      background-color: transparent;
      color: #5e6c84;
      position: relative;
      padding: 4px 8px;
      user-select: none;
      display: block;
    }

    .card {
      background-color: #fff;
      border-radius: 3px;
      border: 0;
      cursor: pointer;
      display: block;
      margin-bottom: 8px;
      min-height: 20px;
      position: relative;
      overflow: hidden;
      overflow-wrap: break-word;
      resize: none;
      width: 85%;
      padding: 5px;
      margin: 10px auto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      box-shadow: 2px 2px #dbdbdb;
    }

    .inputBox {
      background-color: #fff;
      box-shadow: 2px 2px #dbdbdb;
      border-radius: 3px;
      border: 0;
      cursor: pointer;
      display: block;
      margin-bottom: 8px;
      min-height: 20px;
      position: relative;
      overflow: hidden;
      overflow-wrap: break-word;
      resize: none;
      width: 85%;
      padding: 5px;
      margin: 0 auto;
    }

    .editTool {
      margin: 0 auto;
      .inputBox {
        background-color: #fff;
        box-shadow: 2px 2px #dbdbdb;
        border-radius: 3px;
        min-height: 20px;
        position: relative;
        overflow: hidden;
        overflow-wrap: break-word;
        width: 85%;
        padding: 5px;

        margin-bottom: 10px;
      }

      .footer {
        margin: 10px 0 10px 15px;
        width: 85%;
        display: flex;

        .updateBtn {
          border: 0;
          background-color: #d36e1c;
          border-radius: 3px;
          color: white;
          position: relative;
          padding: 6px 12px;
        }
        .deleteBtn {
          border: 0;
          background-color: #963eac;
          border-radius: 3px;
          color: white;
          position: relative;
          padding: 6px 12px;
        }
        .closeBtn {
          border: 0;
          background-color: #7fb3d1;
          border-radius: 3px;
          color: white;
          position: relative;
          padding: 6px 12px;
        }
      }
    }

    .submitBtn {
      margin: 10px 0 10px 15px;
      border: 0;
      background-color: #5aac44;
      border-radius: 3px;
      color: white;
      position: relative;
      padding: 6px 12px;
      user-select: none;
      display: block;
    }
  }
}
